header{
    background-color: #1d2d44ff;
}

#titulo {
    font-size: 3rem; 
    letter-spacing: 2px; 
    text-transform: uppercase;
}

main{
    background-color:  rgb(231, 238, 248);
    margin: 0;
}

.img-padrao {
    width: 100%;
    max-width: 400px;
    height: auto;
}

#sumario a {
    text-decoration: none;
    color: #1d2d44;
}

#sumario a:hover {
    text-decoration: underline;
}

aside {
    flex: 1; /* Ocupa o restante proporcionalmente */
    background-color: #f0f0f0;
    padding: 20px;
  }